*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 20%,
        #D8DBD5 20%
    );
}

#app{
    display: flex;
    width:85%;
    height: 85%;
    background-color: white;
}

/* aside */

aside{
    width: calc(100% / 3)
}

img{
    width: 2.5rem;;
    height: 2.5rem;
    border-radius: 50%;
}

.account .options,
.chat .options{
    display: flex;
    gap: .5rem;
}

.notifications{
    display: flex;
    align-items: center;
    padding: .3rem;
}

.notifications .bell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;;
    height: 2.5rem;
    border-radius: 50%;
    background-color:#8EDAFC;
    margin: 1rem;
}

.searchbar{
    margin-inline: 1rem;
    margin-bottom: 1rem;
}

.contacts{
    display: flex;
    flex-direction: column;
    height: calc(100% - 199px);
    overflow-y: scroll;
}

.contacts li{
    display: flex;
    gap: .5rem;
    align-items: center;
    list-style: none;
    margin-bottom: 1rem;
}

.contacts li:hover{
    background-color: #EAEAEA;
}

/* chat */

.chat{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: calc(100% / 3 * 2);
    background-image: url('../img/mine.jpg');
}

.chat .user{
    display: flex;
}

.chat .user h5{
    padding-left: 1rem;
}

.account,
.chat .current-contact,
.chat .input-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 4rem;
    background-color:#EAEAEA;
    padding-inline: 1rem;
}

.chat .current-chat{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem 3rem;
    width: 100%;
    height: calc(100% - 8rem);
    overflow-y: scroll;
}

.chat .current-chat .message{
    max-width: 60%;
    padding: .8rem;
    padding-bottom: 0;
    border-radius: 5px;
}

.chat .current-chat .message.sent{
    align-self: flex-end;
    background-color: #D5F9BA;
}
.chat .current-chat .message.received{
    align-self: flex-start;
    background-color: white;
}

.chat .current-chat .date{
   text-align: end;
   padding: .3rem;
   font-size: .8rem;
}

.input-message input{
    width: calc(100% - 4rem);
    border-radius: 5px;
    border: none;
}